header {
	width: 60vw;

	margin: 0 auto;
}

.brand {
	background-image: url('../../public/assets/johns.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	height: 20vh;
}

@media (max-width: 768px) {
	header {
		width: 100vw;
	}
}
